<%= form_with model: @jobrecruitment, local: true do |form| %>
  <div>
    <%= form.label :text %>
    <%= form.text_area :text %>
  </div>

  <div>
    <%= form.submit "Create Jobrecruitment" %>
  </div>
<% end %>
