<!-- app/views/jobapplications/index.html.erb -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Job Applications</title>
  <link rel="stylesheet" href="<%= asset_path 'application.css' %>">
  <style>
   body {
      font-family: Arial, sans-serif;
      margin: 20px;
    }
    .container {
      max-width: 600px; /* Adjust as needed */
      margin: auto;
    }
    .field {
      margin-bottom: 20px;
    }
    .field label {
      display: block;
      margin-bottom: 5px;
    }
    .field input[type="text"],
    .field textarea {
      width: 100%;
      padding: 8px;
      font-size: 1em;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
    }
    .actions {
      margin-top: 10px;
    }
  </style>
</head>
<body>

    <h1>applying</h1>
    <% @jobrecruitments.each do |jobrecruitment| %>
      <div class="job-post">
        <h2><%= jobrecruitment.description %></h2>
        <p>Posted on: <%= jobrecruitment.created_at.strftime("%B %d, %Y") %></p>
      </div>
    
    <% end %>
</body>
</html>
