<!-- app/views/jobrecruitments/new.html.erb -->
<h1>New Job Applications</h1>

<%= form_with url: @jobrecruitment , method: :post, local: true   do |f| %>
  <div class="field">
    <%= form.label :text %>
    <%= form.text_area :text %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
